* {
  padding: 0;
  margin: 0;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a, a:hover {
  text-decoration: none;
}

ol, ul {
  list-style-type: none;
}

h1, h2, h3, h4, h5, h6, p {
  padding: 0;
  margin: 0;
  line-height: .8;
}

/*All common css*/
#banner {
  background: url(../images/hill.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#banner .b_overly {
  padding: 200px 0px 150px 0px;
  background: rgba(0, 0, 0, 0.747);
}

#banner .b_overly .banner_text p {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #FFC178;
  text-transform: uppercase;
}

#banner .b_overly .banner_text h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 96px;
  font-weight: 700;
  color: #fff;
  line-height: 100px;
}

#banner .b_overly .banner_text h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 88px;
  font-weight: 400;
  color: #fff;
  line-height: 100px;
}

/*About part start*/
#about_banner {
  background: url(../images/about_bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#about_banner .a_overly {
  padding: 200px 0px;
  background: rgba(0, 0, 0, 0.582);
}

#about_banner .a_overly .banner_text p {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #FFC178;
  text-transform: uppercase;
}

#about_banner .a_overly .banner_text h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 96px;
  font-weight: 700;
  color: #fff;
  line-height: 100px;
}

#about_banner .a_overly .banner_text h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 88px;
  font-weight: 400;
  color: #fff;
  line-height: 100px;
}

/*About part end */
/*culture part start*/
#culture_banner {
  background: url(../images/cul.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#culture_banner .a_overly {
  padding: 200px 0px;
  background: rgba(0, 0, 0, 0.582);
}

#culture_banner .a_overly .banner_text p {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #FFC178;
  text-transform: uppercase;
}

#culture_banner .a_overly .banner_text h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 96px;
  font-weight: 700;
  color: #fff;
  line-height: 100px;
}

#culture_banner .a_overly .banner_text h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 88px;
  font-weight: 400;
  color: #fff;
  line-height: 100px;
}

/*culture part end */
.navbar .nav-item .nav-link {
  padding-left: 30px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}

.navbar .nav-item .nav-link:hover {
  color: #FFC178;
}

.navbar .search a {
  color: #fff;
}

.navbar .search a i {
  padding-right: 30px;
}

#about {
  background: #000;
  padding-top: 100px;
  padding-bottom: 100px;
}

#about .a_text {
  padding-top: 20px;
}

#about .a_text h6 {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #FFC178;
}

#about .a_text h3 {
  font-family: 'Open Sans', sans-serif;
  font-size: 64px;
  font-weight: 700;
  color: #fff;
  line-height: 87.16px;
}

#about .a_text p {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: 600;
  color: #fff;
  line-height: 32px;
}

#about .a_text a {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #FBD784;
  line-height: 24.51px;
  display: inline-block;
  padding-top: 20px;
}

#blog {
  background: #000;
  padding: 100px 0px;
}

#blog .blog_pic {
  background: url(../images/r.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 559px;
  padding-bottom: 39px;
}

#blog .blog_pic .b_text h6 {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #FFC178;
  letter-spacing: 5px;
}

#blog .blog_pic .b_text h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 76px;
  font-weight: 700;
  color: #fff;
  line-height: 87px;
}

#blog .blog_pic .b_text p {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  line-height: 32px;
}

#blog .blog_pic .b_text a {
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #FBD784;
  line-height: 25px;
  padding-top: 10px;
}

/* about part start*/
#a_blog {
  background: #000;
  padding: 100px 0px;
}

#a_blog .blog_pic {
  background: url(../images/car.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#a_blog .blog_pic .a_b_overly {
  padding-top: 559px;
  padding-bottom: 39px;
  background: rgba(0, 0, 0, 0.295);
}

#a_blog .blog_pic .a_b_overly .b_text h6 {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #FFC178;
  letter-spacing: 5px;
}

#a_blog .blog_pic .a_b_overly .b_text h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 76px;
  font-weight: 700;
  color: #fff;
  line-height: 87px;
}

#a_blog .blog_pic .a_b_overly .b_text p {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  line-height: 32px;
}

#a_blog .blog_pic .a_b_overly .b_text a {
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #FBD784;
  line-height: 25px;
  padding-top: 10px;
}

#footer {
  background: #000;
  padding: 100px 0px;
}

#footer .last {
  border-bottom: 1px solid #fff;
  padding-bottom: 20px;
}

#footer .last .f_text_one p {
  font-family: 'Open Sans', sans-serif;
  font-size: 22px;
  font-weight: 400;
  color: #fff;
}

#footer .last .f_text_one a {
  font-family: 'Open Sans', sans-serif;
  font-size: 22px;
  font-weight: 400;
  color: #fff;
  display: inline-block;
  background: #FFA343;
  padding: 18px 67px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  margin-top: -25px;
}

#footer .f_part_o h3 {
  font-family: 'Open Sans', sans-serif;
  font-size: 36px;
  font-weight: 700;
  color: #fff;
  line-height: 50px;
  padding-top: 10px;
}

.f_form {
  padding-top: 75px;
}

.f_form input {
  background: transparent;
  border: 1px solid #FFA343;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  padding: 10px 20px;
}

.f_form button {
  background: #FFA343;
  border: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  padding: 0 20px;
}

.one_last {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.one_last .f_first_last p {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  padding-top: 104px;
}

.one_last .f_first_two p {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  padding-top: 104px;
  margin-left: 94px;
}

.fo_two h6 {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: #FFD1A0;
  padding-top: 30px;
}

.fo_two p {
  font-family: 'Open Sans', sans-serif;
  font-size: 19px;
  font-weight: 400;
  color: #fff;
  padding-top: 30px;
  line-height: 40px;
}

.social {
  margin-left: 81px;
}

.social a {
  display: inline-block;
  padding-top: 172px;
  padding-left: 10px;
}

.social a i {
  color: #fff;
}

.last_text p {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  padding-top: 100px;
}

#banner {
  background: url(../images/hill.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#banner .b_overly {
  padding: 200px 0px 150px 0px;
  background: rgba(0, 0, 0, 0.747);
}

#banner .b_overly .banner_text p {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #FFC178;
  text-transform: uppercase;
}

#banner .b_overly .banner_text h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 96px;
  font-weight: 700;
  color: #fff;
  line-height: 100px;
}

#banner .b_overly .banner_text h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 88px;
  font-weight: 400;
  color: #fff;
  line-height: 100px;
}

/*About part start*/
#about_banner {
  background: url(../images/about_bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#about_banner .a_overly {
  padding: 200px 0px;
  background: rgba(0, 0, 0, 0.582);
}

#about_banner .a_overly .banner_text p {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #FFC178;
  text-transform: uppercase;
}

#about_banner .a_overly .banner_text h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 96px;
  font-weight: 700;
  color: #fff;
  line-height: 100px;
}

#about_banner .a_overly .banner_text h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 88px;
  font-weight: 400;
  color: #fff;
  line-height: 100px;
}

/*About part end */
/*culture part start*/
#culture_banner {
  background: url(../images/cul.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#culture_banner .a_overly {
  padding: 200px 0px;
  background: rgba(0, 0, 0, 0.582);
}

#culture_banner .a_overly .banner_text p {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #FFC178;
  text-transform: uppercase;
}

#culture_banner .a_overly .banner_text h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 96px;
  font-weight: 700;
  color: #fff;
  line-height: 100px;
}

#culture_banner .a_overly .banner_text h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 88px;
  font-weight: 400;
  color: #fff;
  line-height: 100px;
}

/*culture part end */
.navbar .nav-item .nav-link {
  padding-left: 30px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}

.navbar .nav-item .nav-link:hover {
  color: #FFC178;
}

.navbar .search a {
  color: #fff;
}

.navbar .search a i {
  padding-right: 30px;
}

#about {
  background: #000;
  padding-top: 100px;
  padding-bottom: 100px;
}

#about .a_text {
  padding-top: 20px;
}

#about .a_text h6 {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #FFC178;
}

#about .a_text h3 {
  font-family: 'Open Sans', sans-serif;
  font-size: 64px;
  font-weight: 700;
  color: #fff;
  line-height: 87.16px;
}

#about .a_text p {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: 600;
  color: #fff;
  line-height: 32px;
}

#about .a_text a {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #FBD784;
  line-height: 24.51px;
  display: inline-block;
  padding-top: 20px;
}

#blog {
  background: #000;
  padding: 100px 0px;
}

#blog .blog_pic {
  background: url(../images/r.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 559px;
  padding-bottom: 39px;
}

#blog .blog_pic .b_text h6 {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #FFC178;
  letter-spacing: 5px;
}

#blog .blog_pic .b_text h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 76px;
  font-weight: 700;
  color: #fff;
  line-height: 87px;
}

#blog .blog_pic .b_text p {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  line-height: 32px;
}

#blog .blog_pic .b_text a {
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #FBD784;
  line-height: 25px;
  padding-top: 10px;
}

/* about part start*/
#a_blog {
  background: #000;
  padding: 100px 0px;
}

#a_blog .blog_pic {
  background: url(../images/car.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#a_blog .blog_pic .a_b_overly {
  padding-top: 559px;
  padding-bottom: 39px;
  background: rgba(0, 0, 0, 0.295);
}

#a_blog .blog_pic .a_b_overly .b_text h6 {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #FFC178;
  letter-spacing: 5px;
}

#a_blog .blog_pic .a_b_overly .b_text h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 76px;
  font-weight: 700;
  color: #fff;
  line-height: 87px;
}

#a_blog .blog_pic .a_b_overly .b_text p {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  line-height: 32px;
}

#a_blog .blog_pic .a_b_overly .b_text a {
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #FBD784;
  line-height: 25px;
  padding-top: 10px;
}

#footer {
  background: #000;
  padding: 100px 0px;
}

#footer .last {
  border-bottom: 1px solid #fff;
  padding-bottom: 20px;
}

#footer .last .f_text_one p {
  font-family: 'Open Sans', sans-serif;
  font-size: 22px;
  font-weight: 400;
  color: #fff;
}

#footer .last .f_text_one a {
  font-family: 'Open Sans', sans-serif;
  font-size: 22px;
  font-weight: 400;
  color: #fff;
  display: inline-block;
  background: #FFA343;
  padding: 18px 67px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  margin-top: -25px;
}

#footer .f_part_o h3 {
  font-family: 'Open Sans', sans-serif;
  font-size: 36px;
  font-weight: 700;
  color: #fff;
  line-height: 50px;
  padding-top: 10px;
}

.f_form {
  padding-top: 75px;
}

.f_form input {
  background: transparent;
  border: 1px solid #FFA343;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  padding: 10px 20px;
}

.f_form button {
  background: #FFA343;
  border: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  padding: 0 20px;
}

.one_last {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.one_last .f_first_last p {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  padding-top: 104px;
}

.one_last .f_first_two p {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  padding-top: 104px;
  margin-left: 94px;
}

.fo_two h6 {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: #FFD1A0;
  padding-top: 30px;
}

.fo_two p {
  font-family: 'Open Sans', sans-serif;
  font-size: 19px;
  font-weight: 400;
  color: #fff;
  padding-top: 30px;
  line-height: 40px;
}

.social {
  margin-left: 81px;
}

.social a {
  display: inline-block;
  padding-top: 172px;
  padding-left: 10px;
}

.social a i {
  color: #fff;
}

.last_text p {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  padding-top: 100px;
}

#banner {
  background: url(../images/hill.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#banner .b_overly {
  padding: 200px 0px 150px 0px;
  background: rgba(0, 0, 0, 0.747);
}

#banner .b_overly .banner_text p {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #FFC178;
  text-transform: uppercase;
}

#banner .b_overly .banner_text h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 96px;
  font-weight: 700;
  color: #fff;
  line-height: 100px;
}

#banner .b_overly .banner_text h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 88px;
  font-weight: 400;
  color: #fff;
  line-height: 100px;
}

/*About part start*/
#about_banner {
  background: url(../images/about_bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#about_banner .a_overly {
  padding: 200px 0px;
  background: rgba(0, 0, 0, 0.582);
}

#about_banner .a_overly .banner_text p {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #FFC178;
  text-transform: uppercase;
}

#about_banner .a_overly .banner_text h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 96px;
  font-weight: 700;
  color: #fff;
  line-height: 100px;
}

#about_banner .a_overly .banner_text h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 88px;
  font-weight: 400;
  color: #fff;
  line-height: 100px;
}

/*About part end */
/*culture part start*/
#culture_banner {
  background: url(../images/cul.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#culture_banner .a_overly {
  padding: 200px 0px;
  background: rgba(0, 0, 0, 0.582);
}

#culture_banner .a_overly .banner_text p {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #FFC178;
  text-transform: uppercase;
}

#culture_banner .a_overly .banner_text h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 96px;
  font-weight: 700;
  color: #fff;
  line-height: 100px;
}

#culture_banner .a_overly .banner_text h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 88px;
  font-weight: 400;
  color: #fff;
  line-height: 100px;
}

/*culture part end */
.navbar .nav-item .nav-link {
  padding-left: 30px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}

.navbar .nav-item .nav-link:hover {
  color: #FFC178;
}

.navbar .search a {
  color: #fff;
}

.navbar .search a i {
  padding-right: 30px;
}

#about {
  background: #000;
  padding-top: 100px;
  padding-bottom: 100px;
}

#about .a_text {
  padding-top: 20px;
}

#about .a_text h6 {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #FFC178;
}

#about .a_text h3 {
  font-family: 'Open Sans', sans-serif;
  font-size: 64px;
  font-weight: 700;
  color: #fff;
  line-height: 87.16px;
}

#about .a_text p {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: 600;
  color: #fff;
  line-height: 32px;
}

#about .a_text a {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #FBD784;
  line-height: 24.51px;
  display: inline-block;
  padding-top: 20px;
}

#blog {
  background: #000;
  padding: 100px 0px;
}

#blog .blog_pic {
  background: url(../images/r.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 559px;
  padding-bottom: 39px;
}

#blog .blog_pic .b_text h6 {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #FFC178;
  letter-spacing: 5px;
}

#blog .blog_pic .b_text h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 76px;
  font-weight: 700;
  color: #fff;
  line-height: 87px;
}

#blog .blog_pic .b_text p {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  line-height: 32px;
}

#blog .blog_pic .b_text a {
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #FBD784;
  line-height: 25px;
  padding-top: 10px;
}

/* about part start*/
#a_blog {
  background: #000;
  padding: 100px 0px;
}

#a_blog .blog_pic {
  background: url(../images/car.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#a_blog .blog_pic .a_b_overly {
  padding-top: 559px;
  padding-bottom: 39px;
  background: rgba(0, 0, 0, 0.295);
}

#a_blog .blog_pic .a_b_overly .b_text h6 {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #FFC178;
  letter-spacing: 5px;
}

#a_blog .blog_pic .a_b_overly .b_text h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 76px;
  font-weight: 700;
  color: #fff;
  line-height: 87px;
}

#a_blog .blog_pic .a_b_overly .b_text p {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  line-height: 32px;
}

#a_blog .blog_pic .a_b_overly .b_text a {
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #FBD784;
  line-height: 25px;
  padding-top: 10px;
}

#footer {
  background: #000;
  padding: 100px 0px;
}

#footer .last {
  border-bottom: 1px solid #fff;
  padding-bottom: 20px;
}

#footer .last .f_text_one p {
  font-family: 'Open Sans', sans-serif;
  font-size: 22px;
  font-weight: 400;
  color: #fff;
}

#footer .last .f_text_one a {
  font-family: 'Open Sans', sans-serif;
  font-size: 22px;
  font-weight: 400;
  color: #fff;
  display: inline-block;
  background: #FFA343;
  padding: 18px 67px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  margin-top: -25px;
}

#footer .f_part_o h3 {
  font-family: 'Open Sans', sans-serif;
  font-size: 36px;
  font-weight: 700;
  color: #fff;
  line-height: 50px;
  padding-top: 10px;
}

.f_form {
  padding-top: 75px;
}

.f_form input {
  background: transparent;
  border: 1px solid #FFA343;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  padding: 10px 20px;
}

.f_form button {
  background: #FFA343;
  border: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  padding: 0 20px;
}

.one_last {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.one_last .f_first_last p {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  padding-top: 104px;
}

.one_last .f_first_two p {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  padding-top: 104px;
  margin-left: 94px;
}

.fo_two h6 {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: #FFD1A0;
  padding-top: 30px;
}

.fo_two p {
  font-family: 'Open Sans', sans-serif;
  font-size: 19px;
  font-weight: 400;
  color: #fff;
  padding-top: 30px;
  line-height: 40px;
}

.social {
  margin-left: 81px;
}

.social a {
  display: inline-block;
  padding-top: 172px;
  padding-left: 10px;
}

.social a i {
  color: #fff;
}

.last_text p {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  padding-top: 100px;
}
/*# sourceMappingURL=style.css.map */