#about{
    background: #000;
    padding-top: 100px;
    padding-bottom: 100px;
    .a_text{
        padding-top: 20px;
        h6{
            @include open(18px,400,#FFC178);
        }
        h3{
            @include open(64px,700,#fff);
            line-height: 87.16px;
        }
        p{
            @include open(13px,600,#fff);
            line-height: 32px;
        }
        a{
            @include open(18px,700,#FBD784);
             line-height: 24.51px;
             display: inline-block;
             padding-top: 20px;
        }
    }
}