#blog{
    background: #000;
    padding: 100px 0px;
    .blog_pic{
        background: url(../images/r.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        padding-top: 559px;
        padding-bottom: 39px;
        .b_text{
            h6{
            @include open(18px,700,#FFC178);
            letter-spacing: 5px;
            }
            h2{
            @include open(76px,700,#fff);
            line-height: 87px;
            
            }
            p{
             @include open(15px,400,#fff);
              line-height: 32px;
            }
            a{
                display: inline-block;
             @include open(18px,700,#FBD784);
               line-height: 25px;
               padding-top: 10px;
            }
        }
    }
}
/* about part start*/

#a_blog{
    background: #000;
    padding: 100px 0px;
    .blog_pic{
        background: url(../images/car.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        
       .a_b_overly{
        padding-top: 559px;
        padding-bottom: 39px;
           background: rgba(0, 0, 0, 0.295);
        .b_text{
            h6{
            @include open(18px,700,#FFC178);
            letter-spacing: 5px;
            }
            h2{
            @include open(76px,700,#fff);
            line-height: 87px;
            
            }
            p{
             @include open(15px,400,#fff);
              line-height: 32px;
            }
            a{
                display: inline-block;
             @include open(18px,700,#FBD784);
               line-height: 25px;
               padding-top: 10px;
            }
        }
       }
    }
}