#footer {
    background: #000;
    padding: 100px 0px;
    .last {
        border-bottom: 1px solid #fff;
        padding-bottom: 20px;
        .f_text_one {
            p {
                @include open(22px, 400, #fff);
            }
            a {
                @include open(22px, 400, #fff);
                display: inline-block;
                background: #FFA343;
                padding: 18px 67px;
                @include b_r(10px);
                margin-top: -25px;
            }
        }
    }
    .f_part_o {
        h3 {
            @include open(36px, 700, #fff);
            line-height: 50px;
            padding-top: 10px;
        }
    }
}

.f_form {
    padding-top: 75px;
    input {
        background: transparent;
        border: 1px solid #FFA343;
        @include open(15px, 400, #fff);
        padding: 10px 20px;
    }
    button {
        background: #FFA343;
        border: none;
        @include open(15px, 400, #fff);
        padding: 0 20px;
    }
}

.one_last {
    display: flex;
    .f_first_last {
        p {
            @include open(15px, 400, #fff);
            padding-top: 104px;
        }
    }
    .f_first_two {
        p {
            @include open(15px, 400, #fff);
            padding-top: 104px;
            margin-left: 94px;
        }
    }
}

.fo_two {
    h6 {
        @include open(20px, 700, #FFD1A0);
        padding-top: 30px;
    }
    p {
        @include open(19px, 400, #fff);
        padding-top: 30px;
        line-height: 40px;
    }
}

.social {
    margin-left: 81px;
    a {
        display: inline-block;
        padding-top: 172px;
        padding-left: 10px;
        i {
            color: #fff;
        }
    }
}

.last_text {
    p {
        @include open(18px, 600, #fff);
        padding-top: 100px;
    }
}